/* Zmienne */
.gtkHeaderBar {
  background-color: #f4f4f4;
  background-image: unset;
}
.bg-gradiend {
  background-image: linear-gradient(180deg, #ededed, #c3c6c5);
}
.simple-border {
  border-style: solid;
  border-color: #B6B6B3;
  border-width: 1px;
}
.borderedBtns {
  background-color: #c3c6c5;
  background-image: linear-gradient(180deg, #ededed, #c3c6c5);
  border-style: solid;
  border-color: #B6B6B3;
  border-width: 1px;
}
.gtkBtn,
.gtkButton {
  background-color: #c3c6c5;
  background-image: linear-gradient(180deg, #ededed, #c3c6c5);
  border-style: solid;
  border-color: #B6B6B3;
  border-width: 1px;
  border-bottom: solid 1px #91918c;
  border-radius: 0.3rem;
}
section code {
  background-color: #c3c6c5;
  background-image: linear-gradient(180deg, #ededed, #c3c6c5);
  border-style: solid;
  border-color: #B6B6B3;
  border-width: 1px;
  background: #e5e8e7;
  padding: 0.2rem 0.4rem;
}
section .codeBlock p > code {
  background-color: #c3c6c5;
  background-image: linear-gradient(180deg, #ededed, #c3c6c5);
  border-style: solid;
  border-color: #B6B6B3;
  border-width: 1px;
  background-color: #f4f4f4;
  padding: 0.2rem 0.4rem;
}
.gtkInfoBar + .gtkBox {
  position: relative;
}
.gtkBox.aside {
  opacity: 0.5;
  width: 20%;
}
